<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 게시판</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../common/admin_header.ejs") %>
    <div id="brd_list">
        <div class="center">
            <h2>이벤트</h2>
            <table>
                <tr>
                    <th class="num">번호</th>
                    <th class="title">제목</th>
                    <th class="auther">작성자</th>
                    <th class="date">날짜</th>
                </tr>
                <% eventData.forEach((item,index) => { %>
                <tr>
                    <td class="num"><%- item.num %></td>
                    <td class="title"><a href="/admin_event_detail/<%- item.num %>"><%- item.title %></a></td>
                    <td class="auther"><%- item.auther %></td>
                    <td class="date"><%- item.date %></td>
                </tr>
                <% }) %>
            </table>
            <%- include("../common/paging.ejs") %>
            <a class="add_btn" href="/admin_event_insert">이벤트 추가</a>
        </div>
    </div>
    <%- include("../common/footer.ejs") %>
</body>
</html>