<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 상담 상세 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("../common/admin_header.ejs") %>
    <div id="brd_detail">
        <div class="center">
            <h2>온라인 상담</h2>
            <% qnaData.forEach((item,index) => { %>
                <table>
                    <tr>
                        <th>제목</th>
                        <td><%- item.title %></td>
                    </tr>
                    <tr>
                        <th>글쓴이</th>
                        <td><%- item.name %></td>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <td><%- item.date %></td>
                    </tr>
                    <tr class="context">
                        <td class="context_td"><%- item.context %></td>
                    </tr>
                </table>
                <div class="btns">
                    <a class="edit" href="/qna_edit/<%- item.num %>">수정</a>
                    <a class="list" href="/admin_qna">목록</a>
                    <a class="delete" href="/qna_delete/<%- item.num %>">삭제</a>
                </div>
            <% }); %>
        </div>
    </div>
    <%- include("../common/footer.ejs") %>
    <script src="/js/delete_btn.js"></script>
</body>
</html>