<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 상담 상세 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 파비콘 관련 링크 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include("../common/admin_header.ejs") %>
    <div id="brd_detail" class="qna_detail">
        <div class="center">
            <h2>온라인 상담</h2>
            <% qnaData.forEach((item,index) => { %>
                <table>
                    <tr>
                        <th>제목</th>
                        <td><%- item.title %></td>
                    </tr>
                    <tr>
                        <th>글쓴이</th>
                        <td><%- item.name %> 고객님</td>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <td><%- item.date %></td>
                    </tr>
                    <tr class="context">
                        <td class="context_td"><%- item.context %></td>
                    </tr>
                </table>
                <!-- 댓글 데이터 넣어주는 박스 -->
                <div class="answer_box">
                    <form action="/qna_answer" method="post">
                        <input type="hidden" name="qna_number" value="<%- item.num %>">
                        <div class="line">
                            <textarea name="answer"></textarea>
                        </div>
                        <div class="line btn_line">
                            <button>작성 완료</button>
                        </div>
                    </form>
                </div>
            <% }); %>
            <!-- 댓글이 보여지는 박스 -->
            <% for(let i = 0; i < answerData.length; i++){ %>
            <div class="result_box">
                <p><%- answerData[i].answer %></p>
                <div class="answer_btns">
                    <a class="edit" href="#">수정</a>
                    <a class="delete" href="/answer_delete/<%- answerData[i].answer_num %>">삭제</a>
                </div>
                <div class="answer_edit_box">
                    <form action="/answer_edit" method="post">
                        <input type="hidden" name="hidden_qna_brd_num" value="<%- answerData[i].qna_brd_num %>">
                        <input type="hidden" name="hidden_answer_num" value="<%- answerData[i].answer_num %>">
                        <div class="line">
                            <textarea name="answer_edit_form"><%- answerData[i].answer %></textarea>
                        </div>
                        <div class="line btn_line">
                            <button>수정 완료</button>
                            <a class="cancel" href="#">작성 취소</a>
                        </div>
                    </form>
                </div>
            </div>
            <% } %>
            <% qnaData.forEach((item,index) => { %>
                <div class="btns">
                    <a class="edit" href="/qna_edit/<%- item.num %>">수정</a>
                    <a class="list" href="/admin_qna">목록</a>
                    <a class="delete" href="/qna_delete/<%- item.num %>">삭제</a>
                </div>
            <% }); %>
        </div>
    </div>
    <%- include("../common/footer.ejs") %>
    <!-- 삭제확인 스크립트 -->
    <script src="/js/delete_btn.js"></script>
    <!-- 수정버튼 스크립트 -->
    <script src="/js/answer_edit_btn.js"></script>
</body>
</html>