<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 게시판</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("common/sub_header.ejs") %>
    <div id="brd_list_event">
        <div class="center">
            <h2>진행 중인 이벤트</h2>
            <div class="boxs">
                <!-- db에서 긁어오기 -->
                <!-- 제목 / 날짜 / 내용 / 사진 -->
                <% eventData.forEach((event_item, index) => { %>
                <div class="box">
                    <a href="/event_detail/<%- event_item.num %>">
                        <div class="img_box">
                            <img src="/upload/<%- event_item.thumbnail %>">
                        </div>
                        <div class="text_box">
                            <h3><%- event_item.title %></h3>
                            <p class="date"><%- event_item.date %></p>
                        </div>
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>