<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 상세 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 파비콘 관련 링크 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include("common/sub_header.ejs") %>
    <div id="brd_detail">
        <div class="center">
            <h2>이벤트</h2>
            <% eventData.forEach((item,index) => { %>
            <table>
                <tr>
                    <th>제목</th>
                    <td><%- item.title %></td>
                </tr>
                <tr>
                    <th>글쓴이</th>
                    <td><%- item.auther %></td>
                </tr>
                <tr>
                    <th>날짜</th>
                    <td><%- item.date %></td>
                </tr>
                <tr class="context">
                    <% if(item.eventFile1 == null) { %>
                    <% }else{ %>
                        <td class="img"><img src="/upload/<%- item.eventFile1 %>"></td>
                    <% } %>
                    <% if(item.eventFile2 == null) { %>
                    <% }else{ %>
                        <td class="img"><img src="/upload/<%- item.eventFile2 %>"></td>
                    <% } %>
                    <td><%- item.context %></td>
                </tr>
            </table>
            <% }) %>
            <div class="btns">
                <a href="/event">목록</a>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>