<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 슬라이드 관련 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="main_wrap">
        <div class="main_banner">
            <div class="center">
                <div class="left_box">
                    <h2>since</h2>
                    <div class="years_Count">
                        <div class="line">
                            <p>2</p>
                        </div>
                        <div class="line">
                            <p>0</p>
                        </div>
                        <div class="line count_ten">
                            <p>0</p>
                            <p>1</p>
                            <p>2</p>
                        </div>
                        <div class="line count_one">
                            <p>0</p>
                            <p>1</p>
                            <p>2</p>
                            <p>3</p>
                            <p>4</p>
                            <p>5</p>
                            <p>6</p>
                            <p>7</p>
                            <p>8</p>
                            <p>9</p>
                            <p>0</p>
                            <p>1</p>
                            <p>2</p>
                            <p>3</p>
                        </div>
                    </div>
                    <p class="years">23년의 발걸음</p>
                    <p>눈건강을 위한 리지안이 되겠습니다.</p>
                </div>
                <div class="right_box">
                    <img src="/img/banner 01.png">
                </div>
            </div>
        </div>
        <div class="main_banner02">
            <div class="center">
                <div class="left_box">
                    <h2>어떤 수술이<br>적합한지<br>의료진이 체크,<br>AI가 또 체크</h2>
                    <p>23년간의 빅데이터와 개개인의 검사데이터를 비교 분석하여 최적의 수술을 제안합니다. 리지안만의 맞춤형 시력교정을 경험해보세요.</p>
                </div>
                <div class="right_box swiper">
                    <div class="boxs swiper-wrapper">
                        <div class="box swiper-slide">
                            <img src="/img/banner_01.jpg">
                            <h3>23년간 쌓아온 50만의 빅데이터</h3>
                            <p>50만의 통계를 바탕으로 환자 개개인의 데이터 값을 분석하여 수술 가능 여부를 판단합니다.</p>
                        </div>
                        <div class="box swiper-slide">
                            <img src="/img/banner_02.jpg">
                            <h3>내 눈에 맞는 수술 예측</h3>
                            <p>100가지 이상의 검사 결과 값을 분석하여 최적의 맞춤 시력교정술을 제안합니다.</p>
                        </div>
                        <div class="box swiper-slide">
                            <img src="/img/banner_03.jpg">
                            <h3>수술 별 예측시력 제공</h3>
                            <p>60여가지 검사 데이터를 분석하여 수술별로 예측시력을 제공해드립니다.</p>
                        </div>
                        <div class="box swiper-slide">
                            <img src="/img/banner_04.jpg">
                            <h3>렌즈삽입술 예측 시스템</h3>
                            <p>개인의 근시, 난시, 각막 두께를 계산해 최적의 렌즈크기와 위치를 계산합니다.</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
        <!-- 의사 소개 -->
        <div class="doc_wrap">
            <div class="center">
                <h2>의사 소개</h2>
                <div class="doc_boxs">
                    <div class="left_box">
                        <div class="doc1 on">
                            <h3>임수정</h3>
                            <p>녹내장 시력교정 전문가</p>
                        </div>
                        <div class="doc2">
                            <h3>나성진</h3>
                            <p>백내장 망막 전문가</p>
                        </div>
                        <div class="doc3">
                            <h3>강은민</h3>
                            <p>백내장 굴절수술 전문가</p>
                        </div>
                        <div class="doc4">
                            <h3>최성호</h3>
                            <p>백내장 시력교정 전문가</p>
                        </div>
                    </div>
                    <div class="right_box">
                        <div class="box box_on">
                            <div class="text_box">
                                <h3>최고의 결과와 밝은 세상, 모두를 보여드리겠습니다.</h3>
                                <p>전문분야: 녹내장, 시력교정, 스마일, 렌즈삽입술, 백내장</p>
                            </div>
                            <div class="img_box">
                                <img class="show" src="/img/doctor01.png">
                            </div>
                        </div>
                        <div class="box">
                            <div class="text_box">
                                <h3>건강한 눈을 위한 안전한 치료를 약속드리겠습니다.</h3>
                                <p>전문분야: 백내장, 망막, 스마일, 시력교정, 신경안과</p>
                            </div>
                            <div class="img_box">
                                <img src="/img/doctor02.png">
                            </div>
                        </div>
                        <div class="box">
                            <div class="text_box">
                                <h3>장비가 좋아져도 의료진의 스킬이 가장 중요합니다.</h3>
                                <p>전문분야: 백내장, 굴절수술, 시력교정, 렌즈삽입술</p>
                            </div>
                            <div class="img_box">
                                <img src="/img/doctor03.png">
                            </div>
                        </div>
                        <div class="box">
                            <div class="text_box">
                                <h3>눈의 가치를 알기에 진실된 진료로 다가가겠습니다.</h3>
                                <p>전문분야: 스마일, 시력교정, 렌즈삽입술, 안성형</p>
                            </div>
                            <div class="img_box">
                                <img src="/img/doctor04.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 공지글 게시판 / 보도자료 -->
        <div class="brd_wrap">
            <div class="center">
                <h2>언론 보도</h2>
                <div class="brd_swiper">
                    <div class="boxs swiper-wrapper">
                        <!-- db에서 긁어와서 슬라이드로 만들어주기 -->
                        <!-- 제목 / 관련 원장님 / 기사내용 / 사진? -->
                        <% brd.forEach((brd_item,index) => { %>
                        <div class="box swiper-slide">
                            <a href="/board_detail/<%- brd_item.num %>">
                                <div class="img_box">
                                    <img src="/upload/<%- brd_item.file %>">
                                </div>
                                <div class="text_box">
                                    <h3><%- brd_item.title %></h3>
                                        <p class="doc"><%- brd_item.doc %></p>
                                        <p class="context"><%- brd_item.context %></p>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
        <!-- 이벤트 안내 게시판 -->
        <div class="event_wrap">
            <div class="center">
                <h2>진행 중인 이벤트</h2>
                <div class="box_show">
                    <div class="boxs">
                        <!-- db에서 긁어오기 -->
                        <!-- 제목 / 날짜 / 내용 / 사진 -->
                        <% eventData.forEach((event_item, index) => { %>
                        <div class="box">
                            <a href="/event_detail/<%- event_item.num %>">
                                <div class="img_box">
                                    <img src="/upload/<%- event_item.thumbnail %>">
                                </div>
                                <div class="text_box">
                                    <h3><%- event_item.title %></h3>
                                    <p class="date"><%- event_item.date %></p>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <a class="more_btn" href="#">더보기</a>
            </div>
        </div>
        <!-- 문의 게시판 -->
        <div class="qna_wrap">
            <div class="center">
                <h2>자주하는 질문</h2>
                <div class="qna_brd_wrap">
                    <!-- db에서 긁어오기 -->
                    <!-- 제목 / 질문 -->
                    <% for(let i = 0; i < 3; i++) { %>
                    <div class="line">
                        <div class="top_line">
                            <div class="icon">
                                <img class="off" src="/img/qna_icon.png">
                                <img class="on" src="/img/qna_icon02.png">
                            </div>
                            <div class="title"><p><%- qnaData[i].title %></p></div>
                        </div>
                        <div class="answer">
                            <p>여기에 답변 넣어주기</p>
                        </div>
                    </div>
                    <% } %>
                    <a class="more_btn" href="/qna">더보기</a>
                </div>
            </div>
        </div>
        <!-- 후기 게시판 -->
        <div class="review">
            <div class="center">
                <h2>고객 후기</h2>
                <!-- 이름 / 후기 / 사진 / db에서 긁어오기 -->
                <div class="review_swiper">
                    <div class="boxs swiper-wrapper">
                        <% reviewData.forEach((item,index) => { %>
                            <div class="box swiper-slide">
                                <a href="/review_detail/<%- item.num %>">
                                    <div class="img_box">
                                        <img src="/upload/<%- item.file %>">
                                    </div>
                                    <div class="text_box">
                                        <img src="/img/plus_icon.png">
                                        <h3><%- item.name %></h3>
                                        <p><%- item.title %></p>
                                    </div>
                                </a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <!-- 예약 form태그 -->
        <div class="reservation">
            <div class="center">
                <h2>상담 예약</h2>
                <form action="" method="">
                    <div class="line">
                        <label for="name">환자 성함</label>
                        <input type="text" id="name">
                    </div>
                    <div class="line">
                        <label for="birth">생년월일</label>
                        <input type="text" id="birth">
                    </div>
                    <div class="line">
                        <label for="phone">연락처</label>
                        <input type="text" id="phone">
                    </div>
                    <div class="line">
                        <label for="symptom">주요 증상</label>
                        <textarea name="" id="symptom"></textarea>
                    </div>
                    <div class="line">
                        <label for="check_info">개인정보 취급방침</label>
                        <p id="check_info">'리지안 안과'는 (이하 '본원'은) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.
                            본원은 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
                            본원은 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.

                            1. 수집하는 개인정보의 항목 및 수집방법
                            본원은 회원가입 시 서비스 이용을 위해 필요한 최소한의 개인정보만을 수집합니다.
                            귀하가 본원의 서비스를 이용하기 위해서는 회원가입 시 필수항목과 선택항목이 있는데,
                            메일수신여부 등과 같은 선택항목은 입력하지 않더라도 서비스 이용에는 제한이 없습니다.

                            [진료정보]
                            - 수집항목 : 성명, 주민등록번호, 주소, 연락처, 진료기록
                            ※ 의료법에 의해 고유식별정보 및 진료정보를 의무적으로 보유하여야 함
                            (별도 동의 불필요)

                            [홈페이지 회원가입 시 수집항목]
                            - 필수항목 : 성명, 아이디, 비밀번호, 주소, 연락처(전화번호, 휴대폰번호)
                            - 선택항목 : 이메일, 메일수신여부
                            - 서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. : 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보
                            [개인정보 수집방법]
                            - 다음과 같은 방법으로 개인정보를 수집합니다.
                            홈페이지, 서면양식, 팩스, 전화, 상담 게시판, 이메일
                            2. 개인정보의 수집 및 이용목적
                            본원은 수집한 개인정보를 다음의 목적을 위해 활용합니다.
                            이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용
                            목적이 변경될 시에는 사전 동의를 구할 것입니다.

                            [진료정보]
                            - 진단 및 치료를 위한 진료서비스와 청구, 수납 및 환급 등의 원무서비스 제공
                            [홈페이지 회원정보]
                            - 필수정보 : 홈페이지를 통한 진료 예약, 예약조회 및 회원제 서비스 제공,
                            - 선택정보 : 이메일을 통한 병원소식, 질병정보 등의 안내, 설문조사
                            [마케팅 및 광고에 활용]
                            - 이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
                            3. 개인정보의 보유 및 이용기간
                            본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.

                            [진료정보]
                            - 의료법에 명시된 진료기록 보관 기준에 준하여 보관
                            [홈페이지 회원정보]
                            - 회원가입을 탈퇴하거나 회원에서 제명된 때
                            다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여
                            보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다.
                            - 선택정보 : 이메일을 통한 병원소식, 질병정보 등의 안내, 설문조사
                            - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률)
                            - 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률)
                            - 본인 확인에 관한 기록 : 6개월 (정보통신망 이용촉진 및 정보보호 등에 관한 법률)
                            - 방문에 관한 기록 : 3개월 (통신비밀보호법)
                        </p>
                    </div>
                    <div class="line check_info_btn">
                        <input type="checkbox" id="check_info_btn">
                        <label for="check_info_btn">개인정보 수집 및 활용동의</label>
                    </div>
                    <div class="line">
                        <button type="button">예약하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <!-- 슬라이드 관련 스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- 메인화면 슬라이드 관련 스크립트 -->
    <script src="/js/slide.js"></script>
    <!-- 스크롤시 해더 변하는 이벤트 관련 스크립트 -->
    <script src="/js/main_scroll.js"></script>
    <!-- 메인화면 카운트 스크립트 -->
    <script src="/js/count.js"></script>
    <!-- 메인화면 의사 소개 스크립트 -->
    <script src="/js/doc.js"></script>
    <!-- 메인화면 이벤트 안내 스크립트 -->
    <script src="/js/event.js"></script>
    <!-- 메인화면 온라인 상담 스크립트 -->
    <script src="/js/qna.js"></script>
</body>
</html>