<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 상담 게시판</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="brd_list">
        <div class="center">
            <h2>온라인 상담</h2>
            <table>
                <tr>
                    <th class="num">번호</th>
                    <th class="title">제목</th>
                    <th class="auther">작성자</th>
                    <th class="date">작성일</th>
                </tr>
                <% qnaData.forEach((item,index) => { %>
                    <tr>
                        <td class="num"><%- item.num %></td>
                        <td class="title"><a href="/qna_detail/<%- item.num %>"><%- item.title %></a></td>
                        <td class="auther"><%- item.name %></td>
                        <td class="date"><%- item.date %></td>
                    </tr>
                <% }); %>
            </table>
            <%- include("common/paging.ejs") %>
            <a class="add_btn" href="/qna_insert">질문하기</a>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <!-- 스크롤시 해더 변하는 이벤트 관련 스크립트 -->
    <script src="/js/main_scroll.js"></script>
</body>
</html>