<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 상담 상세 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("common/sub_header.ejs") %>
    <div id="brd_detail">
        <div class="center">
            <h2>자주하는 질문</h2>
            <% qnaData.forEach((item,index) => { %>
                <table>
                    <tr>
                        <th>제목</th>
                        <td><%- item.title %></td>
                    </tr>
                    <tr>
                        <th>글쓴이</th>
                        <td><%- item.name %></td>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <td><%- item.date %></td>
                    </tr>
                    <tr class="context">
                        <th>질문</th>
                        <td class="context_td"><%- item.context %></td>
                    </tr>
                </table>
                <div class="answer">
                    <% answerData.forEach((item,index) => { %>
                    <div class="line">
                        <h3>└ 답변</h3>
                        <p><%- item.answer %></p>
                    </div>
                    <% }); %>
                </div>
                <div class="btns">
                    <a class="list" href="/qna">목록</a>
                </div>
            <% }); %>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>