<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 후기 게시판</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="brd_list_review">
        <div class="center">
            <h2>고객 후기</h2>
            <!-- 이름 / 후기 / 사진 / db에서 긁어오기 -->
            <div class="boxs">
                <% reviewData.forEach((item,index) => { %>
                <div class="box">
                    <div class="img_box">
                        <img src="/upload/<%- item.file %>">
                    </div>
                    <div class="text_box">
                        <img src="/img/plus_icon.png">
                        <h3><%- item.name %> 고객님</h3>
                        <a href="/review_detail/<%- item.num %>"><%- item.title %></a>
                    </div>
                </div>
                <% }); %>
            </div>
            <a class="add_btn" href="/review_insert">후기 작성</a>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>