<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 후기 상세 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="brd_detail">
        <div class="center">
            <h2>고객 후기</h2>
            <% reviewData.forEach((item,index) => { %>
            <table>
                <tr>
                    <th>제목</th>
                    <td><%- item.title %></td>
                </tr>
                <tr>
                    <th>글쓴이</th>
                    <td><%- item.name %> 고객님</td>
                </tr>
                <tr>
                    <th>날짜</th>
                    <td><%- item.date %></td>
                </tr>
                <tr>
                    <td><img src="/upload/<%- item.file %>"></td>
                </tr>
                <tr class="context">
                    <td><%- item.context %></td>
                </tr>
            </table>
            <% }); %>
            <a href="/review">목록</a>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>